*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: thistle;
    padding: 10px 0;
    text-align: center;
    display: flex;
    
}

.upper{
    width: 80%;
    margin: 0 auto;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}

header img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
   
}

.button {
    background-color: rgb(196, 152, 196);
    border: none;
    color: white; 
    padding: 15px 10px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 3px 1px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#skills ul li {
    opacity: 0;
    animation: fadeIn 5s forwards;
}

